/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px; /* Espaço para a sidebar fixa */
}

/* Slideshow */
.slideshow-container {
    position: relative;
    max-width: 800px;
    height: 300px;
    margin: 70px auto 20px; /* Centraliza o slideshow e ajusta o espaçamento */
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.fade {
    animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Biblioteca */
.biblioteca {
    padding: 2rem;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.biblioteca h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #0077b6;
}

/* Acordeão */
.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.accordion-header {
    background-color: #715691;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 1rem;
    background-color: #f9f9f9;
}

.accordion-content img {
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .biblioteca {
        padding: 1rem;
    }

    .slideshow-container {
        max-width: 100%;
        height: auto;
        margin-left: 0; /* Centraliza o slideshow em telas menores */
    }
}
